Pull decription 2 and combine

In [1]:
import pandas as pd
import pyodbc
import numpy as np
from dateutil.relativedelta import relativedelta

In [2]:
needed_cols = ['Product Number', 'Vendor Number', 'Vendor Part Number', 'Description','Sales Rep Outside', 'Customer #',\
              'Customer Name', 'Customer City', 'Customer State', 'Order Number', 'Order Suffix', 'Stock, Special, Non-Stock',\
                'Invoice Date','Qty Shipped', 'Extended Cost']

In [3]:
#sales_20 = pd.read_csv('data/ts_sales_2020.csv',encoding='ANSI')

In [4]:
sales_21 = pd.read_csv('data/ts_sales_2021.csv', encoding= 'ANSI', usecols=needed_cols)[needed_cols]

In [5]:
sales_22 = pd.read_csv('data/ts_sales_2022.csv', encoding= 'ANSI', usecols=needed_cols)[needed_cols]

In [6]:
sales_23 = pd.read_csv('data/ts_sales2023-12-05.csv', encoding= 'ANSI', usecols=needed_cols)[needed_cols]

In [7]:
sales_23

,Product Number,Vendor Number,Vendor Part Number,Description,Sales Rep Outside,Customer #,Customer Name,Customer City,Customer State,Order Number,Order Suffix,"Stock, Special, Non-Stock",Invoice Date,Qty Shipped,Extended Cost
0,2545K10V230/3,62110,NaN,IR 2545K10 230 VOLT 3PH,tjs2,130076,STEINER SHIPYARD INC.,BAYOU LA BATRE,AL,3085300,0,n,04/25/23,2.0,5120.00
1,2475N7.5V230/3,62110,NaN,IR 2475N7.5 230 VOLT 3-P,tjs2,130076,STEINER SHIPYARD INC.,BAYOU LA BATRE,AL,3085300,0,n,04/25/23,1.0,2053.00
2,2545K10V230/3,62110,NaN,IR 2545K10 230/3-P,tjs2,130076,STEINER SHIPYARD INC.,BAYOU LA BATRE,AL,3085303,0,n,08/07/23,2.0,5120.00
3,2475N7.5V230/3,62110,NaN,IR 2475N7.5 230 3-PH,tjs2,130076,STEINER SHIPYARD INC.,BAYOU LA BATRE,AL,3085303,0,n,08/07/23,1.0,2053.00
4,776,74005,NaN,GREENLEE RATCHETING,rdr,11503,MERCEDES-BENZ U.S. INT'L INC,TROY,MI,3146440,26,n,04/20/23,0.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255928,548181594,37549,PAP333113,PAPER MATE BLACK,shg,43088,SIEMENS ENERGY HOUSTON,DEER PARK,TX,3433981,0,NaN,12/05/23,5.0,7.15
255929,999922655,37549,869832,869832 DRY ERASE,shg,43088,SIEMENS ENERGY HOUSTON,DEER PARK,TX,3433981,0,NaN,12/05/23,2.0,17.98
255930,999940619,37549,BSN65362,561348 BINDER CLIP,shg,43088,SIEMENS ENERGY HOUSTON,DEER PARK,TX,3433981,0,NaN,12/05/23,10.0,37.70
255931,115005055,85325,5055A,5055A DIE GRINDER HEAVY,shg,43088,SIEMENS ENERGY HOUSTON,DEER PARK,TX,3433982,0,NaN,12/05/23,6.0,449.58
255932,3430444-1,93024,5055A,76536 QP 20 350 S CLEAR/,shg,43088,SIEMENS ENERGY HOUSTON,DEER PARK,TX,3433983,0,n,12/05/23,500.0,724.65

In [8]:
df_all = pd.concat([sales_21,sales_22,sales_23])

In [9]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
Index: 670190 entries, 0 to 255932
Data columns (total 15 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   Product Number             670189 non-null  object
 1   Vendor Number              670190 non-null  int64
 2   Vendor Part Number         645070 non-null  object
 3   Description                668312 non-null  object
 4   Sales Rep Outside          670190 non-null  object
 5   Customer #                 670190 non-null  int64
 6   Customer Name              670162 non-null  object
 7   Customer City              667485 non-null  object
 8   Customer State             667465 non-null  object
 9   Order Number               670190 non-null  int64
 10  Order Suffix               670190 non-null  int64
 11  Stock, Special, Non-Stock  349544 non-null  object
 12  Invoice Date               670190 non-null  object
 13  Qty Shipped                670190 non-null  float64
 14  Extended Cost              670190 non-null  float64
dtypes: float64(2), int64(4), object(9)
memory usage: 81.8+ MB

**Remove Extended Costs <= 0**

In [10]:
df_all['Extended Cost'].loc[lambda x: x<=0]

7           -6.59000
43           0.00000
46           0.00000
48           0.00000
55           0.00000
             ...
255862   -1370.49220
255863    -591.25732
255864   -1378.16000
255865     -18.77444
255866     -38.57150
Name: Extended Cost, Length: 155076, dtype: float64

In [11]:
#df_all.drop(df_all[df_all['Extended Cost'] <= 0].index, inplace=True)

In [12]:
sum(df_all['Extended Cost'] == 0)

152802

**Filter by 3m**

In [13]:
all_3m = df_all[(df_all['Vendor Number'] == 80003) | (df_all['Vendor Number'] == 101672)]

In [14]:
all_3m

,Product Number,Vendor Number,Vendor Part Number,Description,Sales Rep Outside,Customer #,Customer Name,Customer City,Customer State,Order Number,Order Suffix,"Stock, Special, Non-Stock",Invoice Date,Qty Shipped,Extended Cost
12,113107189,80003,7000002112,8515 N95 PARTICULATE,ltm,130009,MERCEDES BENZ VANS LLC,INDIANAPOLIX,IN,3058642,0,s,06/15/21,2.0,322.54848
24,113107189,80003,7000002112,8515 N95 PARTICULATE,glk,1322,KELLEY MANUFACTURING CO,TIFTON,GA,3067558,0,NaN,07/08/21,16.0,322.55008
25,113846457,80003,7100132742,8210 N95 PARTICULATE,tlb,130017,"M1 SUPPORT SERVICES, LP",FT. RUCKER,AL,3067637,2,NaN,02/05/21,1.0,12.54320
26,113846457,80003,7100132742,8210 N95 PARTICULATE,tlb,130017,"M1 SUPPORT SERVICES, LP",FT. RUCKER,AL,3067637,3,NaN,02/15/21,3.0,34.62960
32,113152750,80003,7000029720,8211 N95 PARTICULATE,glk,735,MOULTRIE DIE CAST,DYERSVILLE,IA,3073365,2,s,06/04/21,1.0,22.03130
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255865,806088489,80003,7100249596,"3""XNH 710W 220+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433692,0,s,12/04/23,-2.0,-18.77444
255867,806088474,80003,7100249594,"5""XNH 710W 220+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433695,0,s,12/04/23,1.0,12.45906
255868,806088474,80003,7100249594,"5""XNH 710W 220+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433696,0,s,12/04/23,1.0,12.45906
255873,806088473,80003,7100249590,"5""XNH 710W 180+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433701,0,s,12/04/23,1.0,11.62625
255874,806088472,80003,7100249592,"5""XNH 710W 150+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433702,0,s,12/04/23,1.0,11.70675

In [15]:
#all_3m.drop(all_3m[all_3m['Extended Cost'] <= 0].index, inplace=True)

**Read in 3m price file for their category**

In [16]:
#
priceFile = pd.read_excel('data/Turner_V3_2023-07-31.xlsx', header=1, usecols=['3M Stock #','Product Category Level 1'],dtype={'3M Stock #':str})

In [17]:
priceFile.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73436 entries, 0 to 73435
Data columns (total 2 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   3M Stock #                73436 non-null  object
 1   Product Category Level 1  70957 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [18]:
priceFile = priceFile.rename(columns={'3M Stock #': 'Vendor Part Number'})

In [19]:
priceFile

      Vendor Part Number Product Category Level 1
0             7000148447  Filtration & Separation
1             7000149341                 Coatings
2             7000148454  Filtration & Separation
3             7000148456  Filtration & Separation
4             7000148467  Filtration & Separation
...                  ...                      ...
73431         7100289789                Abrasives
73432         7100289793                Abrasives
73433         7100292921                Abrasives
73434         7100312097                Abrasives
73435         7100312101                Abrasives

[73436 rows x 2 columns]

In [20]:
with_cat = all_3m.set_index('Vendor Part Number').join(priceFile.set_index('Vendor Part Number'),how='left',on='Vendor Part Number').reset_index()

In [21]:
with_cat

,Vendor Part Number,Product Number,Vendor Number,Description,Sales Rep Outside,Customer #,Customer Name,Customer City,Customer State,Order Number,Order Suffix,"Stock, Special, Non-Stock",Invoice Date,Qty Shipped,Extended Cost,Product Category Level 1
0,7000002112,113107189,80003,8515 N95 PARTICULATE,ltm,130009,MERCEDES BENZ VANS LLC,INDIANAPOLIX,IN,3058642,0,s,06/15/21,2.0,322.54848,Personal Protective Equipment
1,7000002112,113107189,80003,8515 N95 PARTICULATE,glk,1322,KELLEY MANUFACTURING CO,TIFTON,GA,3067558,0,NaN,07/08/21,16.0,322.55008,Personal Protective Equipment
2,7100132742,113846457,80003,8210 N95 PARTICULATE,tlb,130017,"M1 SUPPORT SERVICES, LP",FT. RUCKER,AL,3067637,2,NaN,02/05/21,1.0,12.54320,Personal Protective Equipment
3,7100132742,113846457,80003,8210 N95 PARTICULATE,tlb,130017,"M1 SUPPORT SERVICES, LP",FT. RUCKER,AL,3067637,3,NaN,02/15/21,3.0,34.62960,Personal Protective Equipment
4,7000029720,113152750,80003,8211 N95 PARTICULATE,glk,735,MOULTRIE DIE CAST,DYERSVILLE,IA,3073365,2,s,06/04/21,1.0,22.03130,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69840,7100249596,806088489,80003,"3""XNH 710W 220+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433692,0,s,12/04/23,-2.0,-18.77444,Abrasives
69841,7100249594,806088474,80003,"5""XNH 710W 220+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433695,0,s,12/04/23,1.0,12.45906,Abrasives
69842,7100249594,806088474,80003,"5""XNH 710W 220+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433696,0,s,12/04/23,1.0,12.45906,Abrasives
69843,7100249590,806088473,80003,"5""XNH 710W 180+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433701,0,s,12/04/23,1.0,11.62625,Abrasives
69844,7100249592,806088472,80003,"5""XNH 710W 150+ XTRACT",HS,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433702,0,s,12/04/23,1.0,11.70675,Abrasives

In [22]:
with_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69845 entries, 0 to 69844
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Vendor Part Number         69620 non-null  object
 1   Product Number             69845 non-null  object
 2   Vendor Number              69845 non-null  int64
 3   Description                69837 non-null  object
 4   Sales Rep Outside          69845 non-null  object
 5   Customer #                 69845 non-null  int64
 6   Customer Name              69845 non-null  object
 7   Customer City              69843 non-null  object
 8   Customer State             69841 non-null  object
 9   Order Number               69845 non-null  int64
 10  Order Suffix               69845 non-null  int64
 11  Stock, Special, Non-Stock  33238 non-null  object
 12  Invoice Date               69845 non-null  object
 13  Qty Shipped                69845 non-null  float64
 14  Extended Cost              69845 non-null  float64
 15  Product Category Level 1   61745 non-null  object
dtypes: float64(2), int64(4), object(10)
memory usage: 8.5+ MB

**read in sales person info**

In [23]:
password = 'U{M[dr`WC?A%jrsvtO'

In [24]:
conn = pyodbc.connect('Driver={SQL Server};'
                     'Server=tsc-v-sql;'
                     'Database=TurnerPimCatalog;'
                     'UID=ross;'
                     f'PWD={password};')
cur = conn.cursor()

In [25]:

cur.execute('SELECT slsrep,name FROM dbo.[SX.smsn]')
rows = cur.fetchall()

In [26]:
rows

[('ABT', 'TRIONE, BEN'),
 ('ACE', 'Acenda'),
 ('ADK', 'KALTER,DON'),
 ('ads', 'Allison Snider'),
 ('ADT', 'Adam Taliaferro'),
 ('ALS', 'SIEGAL, ANDREA'),
 ('AMB', 'BUTLER, ALICIA'),
 ('AMF', 'FOWLER, TERRY'),
 ('AMR', 'RUSSAW, ALANDIS'),
 ('ARS', 'STURDIVANT, ANDY'),
 ('ART', 'TUCK, ANDREW'),
 ('avt', 'Andrew Thigpen'),
 ('AWT', 'THOMPSON, ANTHONY'),
 ('BAC', 'CUNNINGHAM, BROOKE'),
 ('BAH', "HARRIS, BRENT (Don't Use)"),
 ('BAN', 'Brigette A. Nicholson'),
 ('BDD', 'DUDLEY, BYRON'),
 ('BEB', 'BURCH, BRITTNI'),
 ('BEC', 'COMBS, BRYAN'),
 ('BELJ', 'LIVINGSTON, BURL'),
 ('BJC', 'COPPELS, BLAKE'),
 ('BJM', 'MANZANILLA, BETTY JEAN'),
 ('BLF', 'FULLER, BARRY'),
 ('BLN', 'NEAL, BOB'),
 ('BMB', 'BALLARD, BEN'),
 ('BMR', 'REAGAN, BRUCE'),
 ('BMW', 'WOODFIN, BRANDY'),
 ('BS', 'BELT SHOP EXPENSE'),
 ('BSW', 'WALLS, BRADLEY'),
 ('BTM', 'MADISON, BARRY'),
 ('BTM2', 'MADISON, BARRY'),
 ('BWM', 'MADDOX, BILL'),
 ('BWV', 'VEST, BRYAN'),
 ('CAB', 'BURROW, CHARLES'),
 ('CAC', 'CARTER, CHRISTOPHER'),
 ('CBS', 'SMITH, BRENT'),
 ('CCB', 'BROOME, CHASE'),
 ('CCH', 'Clay C. Hybart'),
 ('CCS', 'Chris Smith'),
 ('CDW', 'WIGINTON, CALLIE'),
 ('CEB', 'BROWN, CHARLIE'),
 ('CFK', 'KIERNAN, TREY'),
 ('CFT', 'KIERNAN, TREY (DO NOT USE)'),
 ('CGB', 'Greg Bacon'),
 ('CJC', 'COOK, CINDY'),
 ('CLS', 'SEAMON, CAROLYN'),
 ('CM', 'MCDONALD, CHARLIE'),
 ('CRD', 'DOANE, CORBIN'),
 ('CRS', 'Charles R. Shannon'),
 ('CSF', 'FELKNER, SCOTT'),
 ('CWO', 'OGLESBY, WADE'),
 ('DC', 'CODY, DAVA'),
 ('DCH', 'HARRIS, BRENT (Tall Territory)'),
 ('DDB', 'BUSSEY, DWAYNE'),
 ('DEC', 'CORDELL, DANIEL'),
 ('DEJ', 'JUDY, DOUG'),
 ('DER', 'ROTCH, DAVID'),
 ('DFC', 'CROUCH, DANNY'),
 ('DGO', 'OLMSTED, DON'),
 ('DHH', 'HARRIS, DON'),
 ('djk', 'Donald J. King'),
 ('DLM', 'MANDERSON, DAVE'),
 ('DMC', 'PARZIALE, GREG'),
 ('DMS', 'SNIDER, DEBBIE'),
 ('DMT', 'TROXTEL, DANIEL'),
 ('EA', 'AREVALO, ELIAS'),
 ('ECR', 'RIDER, EVAN'),
 ('EJL', 'LEWANDOWSKI, JOEY'),
 ('ELC', 'CLEMMONS, ERNIE'),
 ('ELK', 'KNIGHT, ED'),
 ('ELO', 'OWENS, EVAN'),
 ('EOH', 'HUMPHREYS, EDDIE'),
 ('EPI', 'EPI B2B eCommerce'),
 ('FCK', 'KIRBY, FRED'),
 ('GAM', 'MORALES, GABE'),
 ('GF', 'FREE, GAY'),
 ('GLK', 'HARRIS, BRENT- ALBANY TER.'),
 ('GLN', 'NORTON, GARY'),
 ('GLW', 'DO NOT USE PEARSON, EDDIE'),
 ('GPK', 'KOMP, GEORGE'),
 ('GSM', 'MCCOY, GREG'),
 ('GWB', 'BUCKLES, GARY'),
 ('HKC', 'CROSTHWAIT - SIEMENS FT. PAYNE'),
 ('HMS3', 'SCHRAMM, CHIP'),
 ('HS', 'HOUSE - UNASSIGNED'),
 ('JAJ', 'JOHNSON, JOE'),
 ('JBM', 'MCCOLLUM, BRIAN'),
 ('JCH', 'HARRISON, CHASE'),
 ('JCM', 'Jeffrey C. Mosley'),
 ('JDC', 'COLLINS, DOUG'),
 ('JDR', 'REED, J R'),
 ('JDW', 'WILSON, DAVID'),
 ('JEH', 'HUDSON, JERRY'),
 ('JEL', 'LEGGETT, JOHN'),
 ('JES', 'Erich Schurman'),
 ('JFW', 'WHITWELL, JIMMY'),
 ('JH', 'HARDIN, JIM'),
 ('JIC', 'CADDELL, JANIS'),
 ('JJ', 'JOHNSON, JOHNSON - SIEMENS NEW'),
 ('JJH', 'HOUK, JODI'),
 ('JJT', 'TEAL, JESSE'),
 ('JLB', 'BICKEL, JANA'),
 ('JLG', 'GREEN, JANET'),
 ('JMM', 'MCCOLLUM, JOHN'),
 ('joaj', 'Joshua A. Johnson'),
 ('JPM', 'MCLAUGHLIN, JOE'),
 ('JPT', 'TYMINSKI, JOHN'),
 ('JRA', 'ALLEN, BOB'),
 ('JRF', 'FOSTER, JOE'),
 ('JRH', 'HENDERSON, RONNIE'),
 ('JRJ', 'KOMP, GEORGE - JJ TERRITORY'),
 ('JRT', 'James R Thomas'),
 ('JRW', 'WYATT, JUSTIN'),
 ('JSB', 'Joshua S Burks'),
 ('JSF', 'FUTRELL, JOHN'),
 ('JSJ', 'Joseph Jordan'),
 ('JSM', 'Jason McLeod'),
 ('JSV', 'VICKERS, JEFF'),
 ('JSWG', 'GUFFEY, JEANNA'),
 ('JTE', 'ELZEY, JUSTIN'),
 ('JTH', 'HASKEW, JOE'),
 ('JVH', 'HARR, JAMES'),
 ('JWG', 'GUFFEY, JEANNA'),
 ('JWT', 'TURNIPSEED, JAMES'),
 ('JWW', 'WINTER, BO'),
 ('KC', 'CROSTHWAIT (SPECIALS)'),
 ('KCB', 'BALLARD, KAY'),
 ('KCM', 'MORTON, KELLY'),
 ('KDP', 'PENROD, KEITH'),
 ('KDR', 'REAGAN, KENT'),
 ('KJL', 'LEE, KENNY'),
 ('KJN', 'Ken Nix'),
 ('KLJ', 'JONES, KRYSTAL'),
 ('KMM', 'MCALLISTER, KATIE'),
 ('KMO', 'OENNING, KATHY'),
 ('KOD', 'DU-BOIS, KHEYYAM'),
 ('KPW', 'WILLIAMS, KIERAN'),
 ('LDB', 'BOLTON, DOUG'),
 ('LEH', 'HASTY, LANCE'),
 ('LJG', 'GILES, LINDA'),
 ('LJK', 'KEULER, LLOYD'),
 ('LPH', 'HENDERSON, LETTIE'),
 ('LSH', 'HUNTER, LOUISA'),
 ('LTM', 'MCGINNIS, TONY'),
 ('MAB', 'BRAND, MICHAEL'),
 ('MAC', 'CHAPMAN, ANN'),
 ('mak', 'Mark Kantor'),
 ('MAO', 'OWENS, MARK'),
 ('MC', 'CLARK, MIKE'),
 ('MDC', 'CLARK, MURRAY'),
 ('MDM', 'MCGRUE, MARQUEZ'),
 ('MDT', 'Matt Towey'),
 ('MGJ', 'JOHNSON, MIKE'),
 ('MJI', 'ISOM, MIKE'),
 ('MKH', 'HERREN, KENI'),
 ('MLB', 'BEACH, MARK'),
 ('MLH', 'Michael Horsley'),
 ('MLS', 'Michael Shomo'),
 ('MM', 'Mike Mitchell'),
 ('MRC', 'CLARKE, MIKE'),
 ('MRP', 'PRICHARD - DO NOT USE'),
 ('MTA', 'ADDISON, MIKE'),
 ('MWS', 'SIVERAND, MICHAEL'),
 ('MYW', 'WOLLERMAN, MIKE'),
 ('nch', 'Nolan C. Hendrix'),
 ('NCP', 'PICARD, NORM'),
 ('NMB', 'BROOKS, NANCY'),
 ('PAM', 'PADRICK MYERS'),
 ('ped', 'Pete Dakis'),
 ('PJS', 'SMITH, PATRICK'),
 ('PMB', 'BARNETT, PHILIP'),
 ('RAS', 'SEXTON, RANDY'),
 ('RBC', 'CLAXTON, ROBIN'),
 ('RBN', 'NICHOLAS, BRANDON'),
 ('RDR', 'REED, ROB'),
 ('RDT', 'Robert D. Truss'),
 ('REH', 'HAMMETT, RUFUS'),
 ('RJA', 'ANCHORS, ROB'),
 ('RJI', 'IVEY, ROB'),
 ('RJI2', 'INGRAM, ROBERT'),
 ('RLS', 'SPARKMAN, RON'),
 ('RRH', 'HAGEWOOD, RHONDA'),
 ('RRS', 'Randolph Scott'),
 ('RSP', 'PATTERSON, REGGIE'),
 ('RSR', 'ROGERS, STEVEN'),
 ('RVA', 'ALLISON, RYAN'),
 ('SAS', 'SHELTON, SHERREE'),
 ('SCL', 'LEGGETT, STEPHANIE'),
 ('SDC', 'CLAXTON, SCOTT'),
 ('SEP', 'PERRY, STEVE (ANNISTON)'),
 ('SHG', 'GOODRICH - SIEMENS HOUSTON'),
 ('SHGA', 'GOODRICH - SIEMENS ATLANTA'),
 ('SHGC', 'GOODRICH-SIEMENS CANADA'),
 ('SHGJ', 'GOODRICH -TURBOCARE JACKSONVIL'),
 ('SHGT', 'GOODRICH-TURBOCARE HOUSTON'),
 ('SHGW', 'GOODRICH - SIEMENS WIND'),
 ('SJB', 'BARNETT, SAMMY'),
 ('SJP', 'PACE, JEFF'),
 ('SK', 'KELLEY, STEVE'),
 ('SMC', 'COTTON, SHAWNI'),
 ('SMG', 'GRAY, SHARI'),
 ('SR', 'ROSTAMI, SID'),
 ('SWS', 'Stephen W. Smith'),
 ('SWW', 'WILLIAMS, STEVE'),
 ('SYS', 'SYSTEM IMPORTS'),
 ('TAS', 'SIVLEY, TIM'),
 ('TB', 'BICKEL, TODD'),
 ('TBH', 'HOUSTON, TRACY'),
 ('TCH', 'HELMS, TERRY'),
 ('TDB', 'BISHOP, THERESA'),
 ('TDH', 'HASTING, THERESA'),
 ('TDT', 'THOMPSON, TOMMY'),
 ('TEC', 'CARTER, TAMMY'),
 ('TJC', 'CUMBIE, TERRY'),
 ('TJD', 'PRICE, DAVID'),
 ('TJS', 'GATTINA, JOEY'),
 ('TJS2', 'STINSON, JEFF'),
 ('TJSG', 'SPYRKA, TODD'),
 ('TLB', 'BATTLES, TERRY'),
 ('TLD', 'DURHAM, TERRI'),
 ('TMH', 'HALSETH, MICHELLE'),
 ('TMW', 'WELSCH, MICHELLE'),
 ('TMY', 'YOUNG, MARCIE'),
 ('TRB', 'BODDEN, TOM'),
 ('TWK', 'KIERNAN, TAYLOR'),
 ('ULG', 'UNILOG'),
 ('VDS', 'SIMS, VAN'),
 ('vlf', 'Valerie Flack'),
 ('VME', 'EDWARDS, VINCENT'),
 ('VWJ', 'JOHNSON, VINCENT'),
 ('WDH', 'HELM, DENNIS'),
 ('WHO', 'OBERG, WYATT'),
 ('WIS', 'Will Sawyer'),
 ('WJK', 'Billy Kelson'),
 ('WMA', 'ARMISTEAD, BILL'),
 ('WRF', 'FOX, RUSSELL'),
 ('WRL', 'LEGER, RICHARD'),
 ('WS', 'SCOTT, WILL'),
 ('WSP', 'PRICE, WILL'),
 ('WTW', 'WALLINGFORD, W T'),
 ('ZRL', 'LOVELADY, ZACH'),
 ('ZWO', 'OSBORNE, ZACK')]

In [27]:
slsrep = pd.Series([i[0] for i in rows])
name = pd.Series([i[1] for i in rows])
salesreps = pd.concat([slsrep, name], axis=1, keys=['slsrep','name'])

In [28]:
salesreps

    slsrep              name
0      ABT       TRIONE, BEN
1      ACE            Acenda
2      ADK        KALTER,DON
3      ads    Allison Snider
4      ADT   Adam Taliaferro
..     ...               ...
237     WS       SCOTT, WILL
238    WSP       PRICE, WILL
239    WTW  WALLINGFORD, W T
240    ZRL    LOVELADY, ZACH
241    ZWO     OSBORNE, ZACK

[242 rows x 2 columns]

In [29]:
salesreps = salesreps.rename(columns={'slsrep':'Sales Rep Outside', 'name':'Sales Rep Name'})

**Lower case both df's to match on**

In [30]:
with_cat['Sales Rep Outside']= with_cat['Sales Rep Outside'].str.lower()

In [31]:
salesreps['Sales Rep Outside']= salesreps['Sales Rep Outside'].str.lower()

In [32]:
salesreps['Sales Rep Name']= salesreps['Sales Rep Name'].str.title()

In [33]:
with_sls = with_cat.set_index('Sales Rep Outside').join(salesreps.set_index('Sales Rep Outside'),how='left',on='Sales Rep Outside').reset_index()

In [34]:
with_sls

,Sales Rep Outside,Vendor Part Number,Product Number,Vendor Number,Description,Customer #,Customer Name,Customer City,Customer State,Order Number,Order Suffix,"Stock, Special, Non-Stock",Invoice Date,Qty Shipped,Extended Cost,Product Category Level 1,Sales Rep Name
0,ltm,7000002112,113107189,80003,8515 N95 PARTICULATE,130009,MERCEDES BENZ VANS LLC,INDIANAPOLIX,IN,3058642,0,s,06/15/21,2.0,322.54848,Personal Protective Equipment,"Mcginnis, Tony"
1,glk,7000002112,113107189,80003,8515 N95 PARTICULATE,1322,KELLEY MANUFACTURING CO,TIFTON,GA,3067558,0,NaN,07/08/21,16.0,322.55008,Personal Protective Equipment,"Harris, Brent- Albany Ter."
2,tlb,7100132742,113846457,80003,8210 N95 PARTICULATE,130017,"M1 SUPPORT SERVICES, LP",FT. RUCKER,AL,3067637,2,NaN,02/05/21,1.0,12.54320,Personal Protective Equipment,"Battles, Terry"
3,tlb,7100132742,113846457,80003,8210 N95 PARTICULATE,130017,"M1 SUPPORT SERVICES, LP",FT. RUCKER,AL,3067637,3,NaN,02/15/21,3.0,34.62960,Personal Protective Equipment,"Battles, Terry"
4,glk,7000029720,113152750,80003,8211 N95 PARTICULATE,735,MOULTRIE DIE CAST,DYERSVILLE,IA,3073365,2,s,06/04/21,1.0,22.03130,NaN,"Harris, Brent- Albany Ter."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69840,hs,7100249596,806088489,80003,"3""XNH 710W 220+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433692,0,s,12/04/23,-2.0,-18.77444,Abrasives,House - Unassigned
69841,hs,7100249594,806088474,80003,"5""XNH 710W 220+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433695,0,s,12/04/23,1.0,12.45906,Abrasives,House - Unassigned
69842,hs,7100249594,806088474,80003,"5""XNH 710W 220+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433696,0,s,12/04/23,1.0,12.45906,Abrasives,House - Unassigned
69843,hs,7100249590,806088473,80003,"5""XNH 710W 180+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433701,0,s,12/04/23,1.0,11.62625,Abrasives,House - Unassigned
69844,hs,7100249592,806088472,80003,"5""XNH 710W 150+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433702,0,s,12/04/23,1.0,11.70675,Abrasives,House - Unassigned

In [35]:
with_sls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69845 entries, 0 to 69844
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Sales Rep Outside          69845 non-null  object
 1   Vendor Part Number         69620 non-null  object
 2   Product Number             69845 non-null  object
 3   Vendor Number              69845 non-null  int64
 4   Description                69837 non-null  object
 5   Customer #                 69845 non-null  int64
 6   Customer Name              69845 non-null  object
 7   Customer City              69843 non-null  object
 8   Customer State             69841 non-null  object
 9   Order Number               69845 non-null  int64
 10  Order Suffix               69845 non-null  int64
 11  Stock, Special, Non-Stock  33238 non-null  object
 12  Invoice Date               69845 non-null  object
 13  Qty Shipped                69845 non-null  float64
 14  Extended Cost              69845 non-null  float64
 15  Product Category Level 1   61745 non-null  object
 16  Sales Rep Name             69845 non-null  object
dtypes: float64(2), int64(4), object(11)
memory usage: 9.1+ MB

**Fix Stock Keeping Units**

s: OAN, n:NS, NaN: STK

In [36]:
with_sls['Stock, Special, Non-Stock'].replace({'n':'NS','s':'OAN'},inplace=True)

In [37]:
with_sls['Stock, Special, Non-Stock'].fillna('STK',inplace=True)

In [38]:
with_sls['Stock, Special, Non-Stock'].unique()

array(['OAN', 'STK', 'NS'], dtype=object)

In [39]:
with_sls

,Sales Rep Outside,Vendor Part Number,Product Number,Vendor Number,Description,Customer #,Customer Name,Customer City,Customer State,Order Number,Order Suffix,"Stock, Special, Non-Stock",Invoice Date,Qty Shipped,Extended Cost,Product Category Level 1,Sales Rep Name
0,ltm,7000002112,113107189,80003,8515 N95 PARTICULATE,130009,MERCEDES BENZ VANS LLC,INDIANAPOLIX,IN,3058642,0,OAN,06/15/21,2.0,322.54848,Personal Protective Equipment,"Mcginnis, Tony"
1,glk,7000002112,113107189,80003,8515 N95 PARTICULATE,1322,KELLEY MANUFACTURING CO,TIFTON,GA,3067558,0,STK,07/08/21,16.0,322.55008,Personal Protective Equipment,"Harris, Brent- Albany Ter."
2,tlb,7100132742,113846457,80003,8210 N95 PARTICULATE,130017,"M1 SUPPORT SERVICES, LP",FT. RUCKER,AL,3067637,2,STK,02/05/21,1.0,12.54320,Personal Protective Equipment,"Battles, Terry"
3,tlb,7100132742,113846457,80003,8210 N95 PARTICULATE,130017,"M1 SUPPORT SERVICES, LP",FT. RUCKER,AL,3067637,3,STK,02/15/21,3.0,34.62960,Personal Protective Equipment,"Battles, Terry"
4,glk,7000029720,113152750,80003,8211 N95 PARTICULATE,735,MOULTRIE DIE CAST,DYERSVILLE,IA,3073365,2,OAN,06/04/21,1.0,22.03130,NaN,"Harris, Brent- Albany Ter."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69840,hs,7100249596,806088489,80003,"3""XNH 710W 220+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433692,0,OAN,12/04/23,-2.0,-18.77444,Abrasives,House - Unassigned
69841,hs,7100249594,806088474,80003,"5""XNH 710W 220+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433695,0,OAN,12/04/23,1.0,12.45906,Abrasives,House - Unassigned
69842,hs,7100249594,806088474,80003,"5""XNH 710W 220+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433696,0,OAN,12/04/23,1.0,12.45906,Abrasives,House - Unassigned
69843,hs,7100249590,806088473,80003,"5""XNH 710W 180+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433701,0,OAN,12/04/23,1.0,11.62625,Abrasives,House - Unassigned
69844,hs,7100249592,806088472,80003,"5""XNH 710W 150+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3433702,0,OAN,12/04/23,1.0,11.70675,Abrasives,House - Unassigned

**Seperate into date ranges**

In [40]:
with_sls['Invoice Date']= pd.to_datetime(with_sls['Invoice Date'])

C:\Users\rrichesin\AppData\Local\Temp\ipykernel_33716\1663926577.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  with_sls['Invoice Date']= pd.to_datetime(with_sls['Invoice Date'])

In [41]:
with_sls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69845 entries, 0 to 69844
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Sales Rep Outside          69845 non-null  object
 1   Vendor Part Number         69620 non-null  object
 2   Product Number             69845 non-null  object
 3   Vendor Number              69845 non-null  int64
 4   Description                69837 non-null  object
 5   Customer #                 69845 non-null  int64
 6   Customer Name              69845 non-null  object
 7   Customer City              69843 non-null  object
 8   Customer State             69841 non-null  object
 9   Order Number               69845 non-null  int64
 10  Order Suffix               69845 non-null  int64
 11  Stock, Special, Non-Stock  69845 non-null  object
 12  Invoice Date               69845 non-null  datetime64[ns]
 13  Qty Shipped                69845 non-null  float64
 14  Extended Cost              69845 non-null  float64
 15  Product Category Level 1   61745 non-null  object
 16  Sales Rep Name             69845 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(10)
memory usage: 9.1+ MB

year-month-day

In [42]:
with_sls.iloc[0:1,12:13]

  Invoice Date
0   2021-06-15

In [43]:
nov = with_sls[(with_sls['Invoice Date'].dt.month == 11) & (with_sls['Invoice Date'].dt.year == 2023)]

In [44]:
nov

,Sales Rep Outside,Vendor Part Number,Product Number,Vendor Number,Description,Customer #,Customer Name,Customer City,Customer State,Order Number,Order Suffix,"Stock, Special, Non-Stock",Invoice Date,Qty Shipped,Extended Cost,Product Category Level 1,Sales Rep Name
48469,jdw,0008600200,801118082,80003,7000042733 DISC CONDITIO,18151,"VACTOR MANUFACTURING, INC.",STREATOR,IL,3355677,2,NS,2023-11-07,50.0,110.70000,NaN,"Wilson, David"
60815,vwj,7100002305,114445091,80003,3X1/4-20 HARD ROLOC DISC,11503,MERCEDES-BENZ U.S. INT'L INC,TROY,MI,3401871,0,OAN,2023-11-17,5.0,93.54000,Tools & Equipment,"Johnson, Vincent"
62211,hs,7100089226,801104028,80003,7448 ULTRA FINE HAND,130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3407303,0,STK,2023-11-13,6.0,91.23120,Abrasives,House - Unassigned
62332,hs,7000124895,111564760,80003,18MMX55M 401+ PERFORMANC,101553,BIRMINGHAM FRAME & ALIGNMENT,BIRMINGHAM,AL,3407776,0,STK,2023-11-14,20.0,86.40000,Tapes,House - Unassigned
62606,jbm,018044,26832,80003,PERFORMANCE SPRAY,99999,KIA GEORGIA INC,WEST POINT,GA,3408675,0,NS,2023-11-08,36.0,9909.54000,NaN,"Mccollum, Brian"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69596,hs,7100249503,806088456,80003,"6""XNH 710W 120+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3432634,0,OAN,2023-11-30,1.0,21.24475,Abrasives,House - Unassigned
69597,hs,7100249509,806088462,80003,"6""XNH 710W 320+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3432634,0,OAN,2023-11-30,1.0,19.66986,Abrasives,House - Unassigned
69598,hs,7100249510,806088461,80003,"6""XNH 710W 240+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3432635,0,OAN,2023-11-30,1.0,21.30852,Abrasives,House - Unassigned
69599,hs,7100249508,806088457,80003,"6""XNH 710W 150+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3432635,0,OAN,2023-11-30,1.0,19.40028,Abrasives,House - Unassigned
69600,hs,7100249502,806088455,80003,"6""XNH 710W 80+ XTRACT",130344,AMAZON SELLER CENTRAL,SEATTLE,WA,3432635,0,OAN,2023-11-30,0.0,0.00000,Abrasives,House - Unassigned

In [45]:
start = pd.to_datetime('2021-10-31 23:59:59')

In [46]:
end = pd.to_datetime('2023-10-31 23:59:59')

In [47]:
print(end - relativedelta(months =24))

2021-10-31 23:59:59

In [48]:
months_24 = with_sls[(with_sls['Invoice Date'] >= start) & (with_sls['Invoice Date'] <= end)]

In [49]:
months_24.iloc[:,12:13].sort_values('Invoice Date')

      Invoice Date
13847   2021-11-01
12561   2021-11-01
13272   2021-11-01
12777   2021-11-01
13696   2021-11-01
...            ...
65365   2023-10-31
65366   2023-10-31
65367   2023-10-31
65360   2023-10-31
65521   2023-10-31

[51862 rows x 1 columns]

**get sales in report month NOT in past 24 by Customer Number, Product Number**

In [50]:
months_24.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51862 entries, 4033 to 65521
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Sales Rep Outside          51862 non-null  object
 1   Vendor Part Number         51705 non-null  object
 2   Product Number             51862 non-null  object
 3   Vendor Number              51862 non-null  int64
 4   Description                51855 non-null  object
 5   Customer #                 51862 non-null  int64
 6   Customer Name              51862 non-null  object
 7   Customer City              51860 non-null  object
 8   Customer State             51858 non-null  object
 9   Order Number               51862 non-null  int64
 10  Order Suffix               51862 non-null  int64
 11  Stock, Special, Non-Stock  51862 non-null  object
 12  Invoice Date               51862 non-null  datetime64[ns]
 13  Qty Shipped                51862 non-null  float64
 14  Extended Cost              51862 non-null  float64
 15  Product Category Level 1   46305 non-null  object
 16  Sales Rep Name             51862 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(4), object(10)
memory usage: 7.1+ MB

In [51]:
nov.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4158 entries, 48469 to 69600
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Sales Rep Outside          4158 non-null   object
 1   Vendor Part Number         4154 non-null   object
 2   Product Number             4158 non-null   object
 3   Vendor Number              4158 non-null   int64
 4   Description                4158 non-null   object
 5   Customer #                 4158 non-null   int64
 6   Customer Name              4158 non-null   object
 7   Customer City              4158 non-null   object
 8   Customer State             4158 non-null   object
 9   Order Number               4158 non-null   int64
 10  Order Suffix               4158 non-null   int64
 11  Stock, Special, Non-Stock  4158 non-null   object
 12  Invoice Date               4158 non-null   datetime64[ns]
 13  Qty Shipped                4158 non-null   float64
 14  Extended Cost              4158 non-null   float64
 15  Product Category Level 1   3598 non-null   object
 16  Sales Rep Name             4158 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(4), object(10)
memory usage: 584.7+ KB

In [52]:
new_sales = nov.merge(months_24, on=['Customer #', 'Product Number'], how='left', indicator=True, suffixes=('', '_DROP')).query('_merge == "left_only"').filter(regex='^(?!.*_DROP)')

In [53]:
new_sales

,Sales Rep Outside,Vendor Part Number,Product Number,Vendor Number,Description,Customer #,Customer Name,Customer City,Customer State,Order Number,Order Suffix,"Stock, Special, Non-Stock",Invoice Date,Qty Shipped,Extended Cost,Product Category Level 1,Sales Rep Name,_merge
31,vwj,7100002305,114445091,80003,3X1/4-20 HARD ROLOC DISC,11503,MERCEDES-BENZ U.S. INT'L INC,TROY,MI,3401871,0,OAN,2023-11-17,5.0,93.540,Tools & Equipment,"Johnson, Vincent",left_only
221,hs,7000124895,111564760,80003,18MMX55M 401+ PERFORMANC,101553,BIRMINGHAM FRAME & ALIGNMENT,BIRMINGHAM,AL,3407776,0,STK,2023-11-14,20.0,86.400,Tapes,House - Unassigned,left_only
222,jbm,018044,26832,80003,PERFORMANCE SPRAY,99999,KIA GEORGIA INC,WEST POINT,GA,3408675,0,NS,2023-11-08,36.0,9909.540,NaN,"Mccollum, Brian",left_only
223,jbm,018044,26835,80003,LOCKING COLLAR,99999,KIA GEORGIA INC,WEST POINT,GA,3408675,0,NS,2023-11-08,0.0,0.000,NaN,"Mccollum, Brian",left_only
224,jbm,018044,26840,80003,REBUILD KIT,99999,KIA GEORGIA INC,WEST POINT,GA,3408675,0,NS,2023-11-08,0.0,0.000,NaN,"Mccollum, Brian",left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5419778,hs,7000000755,801105531,80003,"3"" A-MED SCOTCH-BRITE",6105,COD CREDIT CARD HATTIESBURG,HATTIESBURG,MS,3430320,0,OAN,2023-11-28,6.0,7.632,Abrasives,House - Unassigned,left_only
5419844,jww,7010363301,114155632,80003,"4-1/2""X5/8-11 40X 967A",130737,INCOA VMI ACCOUNT,SALT LAKE CITY,UT,3430325,0,STK,2023-11-28,10.0,78.480,Abrasives,"Winter, Bo",left_only
5487338,twk,7000000931,120021210,80003,SUPER 77 CLEAR SPRAY,15008,CHEVRON PRODUCTS CO,PASCAGOULA,MS,3430709,0,STK,2023-11-29,12.0,151.128,"Adhesives, Sealants & Fillers","Kiernan, Taylor",left_only
6591361,twk,7000000931,120021210,80003,SUPER 77 CLEAR SPRAY,15008,CHEVRON PRODUCTS CO,PASCAGOULA,MS,3431916,0,STK,2023-11-30,12.0,151.128,"Adhesives, Sealants & Fillers","Kiernan, Taylor",left_only
6670762,jbm,7000046261,801164206,80003,3XNH A MED ROLOC BLEND,130891,KIA VENDING,WEST POINT,GA,3432316,0,STK,2023-11-30,4.0,187.250,Abrasives,"Mccollum, Brian",left_only

In [54]:
new_sales.columns

Index(['Sales Rep Outside', 'Vendor Part Number', 'Product Number',
       'Vendor Number', 'Description', 'Customer #', 'Customer Name',
       'Customer City', 'Customer State', 'Order Number', 'Order Suffix',
       'Stock, Special, Non-Stock', 'Invoice Date', 'Qty Shipped',
       'Extended Cost', 'Product Category Level 1', 'Sales Rep Name',
       '_merge'],
      dtype='object')

**Clean and format**

In [55]:
new_sales['Extended Cost'].loc[lambda x: x<=0]

223        0.0
224        0.0
226        0.0
227        0.0
228        0.0
230        0.0
148468     0.0
148469     0.0
148470     0.0
258313     0.0
1722762    0.0
3042365    0.0
3042366    0.0
3101625    0.0
3101627    0.0
3101628    0.0
3101629    0.0
3101630    0.0
3101632    0.0
3121323    0.0
3855541    0.0
3855572    0.0
3855584    0.0
3855596    0.0
3855608    0.0
3855620    0.0
3855632    0.0
3855644    0.0
3855656    0.0
3855668    0.0
4472861    0.0
4476516    0.0
4476517    0.0
Name: Extended Cost, dtype: float64

In [57]:
new_sales.drop(new_sales[new_sales['Extended Cost'] <= 0].index, inplace=True)

In [58]:
sum(new_sales['Extended Cost'] == 0)

0

In [60]:
new_sales

,Sales Rep Outside,Vendor Part Number,Product Number,Vendor Number,Description,Customer #,Customer Name,Customer City,Customer State,Order Number,Order Suffix,"Stock, Special, Non-Stock",Invoice Date,Qty Shipped,Extended Cost,Product Category Level 1,Sales Rep Name,_merge
31,vwj,7100002305,114445091,80003,3X1/4-20 HARD ROLOC DISC,11503,MERCEDES-BENZ U.S. INT'L INC,TROY,MI,3401871,0,OAN,2023-11-17,5.0,93.540,Tools & Equipment,"Johnson, Vincent",left_only
221,hs,7000124895,111564760,80003,18MMX55M 401+ PERFORMANC,101553,BIRMINGHAM FRAME & ALIGNMENT,BIRMINGHAM,AL,3407776,0,STK,2023-11-14,20.0,86.400,Tapes,House - Unassigned,left_only
222,jbm,018044,26832,80003,PERFORMANCE SPRAY,99999,KIA GEORGIA INC,WEST POINT,GA,3408675,0,NS,2023-11-08,36.0,9909.540,NaN,"Mccollum, Brian",left_only
225,jbm,018044,26838,80003,NEEDLE,99999,KIA GEORGIA INC,WEST POINT,GA,3408675,0,NS,2023-11-08,10.0,475.794,NaN,"Mccollum, Brian",left_only
229,jbm,018044,26713,80003,1.3MM ATOMIZING,99999,KIA GEORGIA INC,WEST POINT,GA,3408675,1,NS,2023-11-08,75.0,2138.805,NaN,"Mccollum, Brian",left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5419778,hs,7000000755,801105531,80003,"3"" A-MED SCOTCH-BRITE",6105,COD CREDIT CARD HATTIESBURG,HATTIESBURG,MS,3430320,0,OAN,2023-11-28,6.0,7.632,Abrasives,House - Unassigned,left_only
5419844,jww,7010363301,114155632,80003,"4-1/2""X5/8-11 40X 967A",130737,INCOA VMI ACCOUNT,SALT LAKE CITY,UT,3430325,0,STK,2023-11-28,10.0,78.480,Abrasives,"Winter, Bo",left_only
5487338,twk,7000000931,120021210,80003,SUPER 77 CLEAR SPRAY,15008,CHEVRON PRODUCTS CO,PASCAGOULA,MS,3430709,0,STK,2023-11-29,12.0,151.128,"Adhesives, Sealants & Fillers","Kiernan, Taylor",left_only
6591361,twk,7000000931,120021210,80003,SUPER 77 CLEAR SPRAY,15008,CHEVRON PRODUCTS CO,PASCAGOULA,MS,3431916,0,STK,2023-11-30,12.0,151.128,"Adhesives, Sealants & Fillers","Kiernan, Taylor",left_only
6670762,jbm,7000046261,801164206,80003,3XNH A MED ROLOC BLEND,130891,KIA VENDING,WEST POINT,GA,3432316,0,STK,2023-11-30,4.0,187.250,Abrasives,"Mccollum, Brian",left_only

In [74]:
new_sales['Extended Cost'] = new_sales['Extended Cost'].map(lambda x: round(x,2))

C:\Users\rrichesin\AppData\Local\Temp\ipykernel_33716\2415234137.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_sales['Extended Cost'] = new_sales['Extended Cost'].map(lambda x: round(x,2))

In [69]:
new_sales.rename(columns={'Product Category Level 1': '3m Category', 'Customer #':'Customer Number', 'Stock, Special, Non-Stock':'Item Type'}, inplace = True)

In [72]:
new_sales = new_sales[['Product Number', 'Vendor Number', 'Vendor Part Number', 'Description','3m Category','Sales Rep Outside','Sales Rep Name', \
                       'Customer Number','Customer Name', 'Customer City', 'Customer State', 'Order Number', 'Order Suffix', 'Item Type',\
                'Invoice Date','Qty Shipped', 'Extended Cost']]

In [75]:
new_sales

,Product Number,Vendor Number,Vendor Part Number,Description,3m Category,Sales Rep Outside,Sales Rep Name,Customer Number,Customer Name,Customer City,Customer State,Order Number,Order Suffix,Item Type,Invoice Date,Qty Shipped,Extended Cost
31,114445091,80003,7100002305,3X1/4-20 HARD ROLOC DISC,Tools & Equipment,vwj,"Johnson, Vincent",11503,MERCEDES-BENZ U.S. INT'L INC,TROY,MI,3401871,0,OAN,2023-11-17,5.0,93.54
221,111564760,80003,7000124895,18MMX55M 401+ PERFORMANC,Tapes,hs,House - Unassigned,101553,BIRMINGHAM FRAME & ALIGNMENT,BIRMINGHAM,AL,3407776,0,STK,2023-11-14,20.0,86.40
222,26832,80003,018044,PERFORMANCE SPRAY,NaN,jbm,"Mccollum, Brian",99999,KIA GEORGIA INC,WEST POINT,GA,3408675,0,NS,2023-11-08,36.0,9909.54
225,26838,80003,018044,NEEDLE,NaN,jbm,"Mccollum, Brian",99999,KIA GEORGIA INC,WEST POINT,GA,3408675,0,NS,2023-11-08,10.0,475.79
229,26713,80003,018044,1.3MM ATOMIZING,NaN,jbm,"Mccollum, Brian",99999,KIA GEORGIA INC,WEST POINT,GA,3408675,1,NS,2023-11-08,75.0,2138.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5419778,801105531,80003,7000000755,"3"" A-MED SCOTCH-BRITE",Abrasives,hs,House - Unassigned,6105,COD CREDIT CARD HATTIESBURG,HATTIESBURG,MS,3430320,0,OAN,2023-11-28,6.0,7.63
5419844,114155632,80003,7010363301,"4-1/2""X5/8-11 40X 967A",Abrasives,jww,"Winter, Bo",130737,INCOA VMI ACCOUNT,SALT LAKE CITY,UT,3430325,0,STK,2023-11-28,10.0,78.48
5487338,120021210,80003,7000000931,SUPER 77 CLEAR SPRAY,"Adhesives, Sealants & Fillers",twk,"Kiernan, Taylor",15008,CHEVRON PRODUCTS CO,PASCAGOULA,MS,3430709,0,STK,2023-11-29,12.0,151.13
6591361,120021210,80003,7000000931,SUPER 77 CLEAR SPRAY,"Adhesives, Sealants & Fillers",twk,"Kiernan, Taylor",15008,CHEVRON PRODUCTS CO,PASCAGOULA,MS,3431916,0,STK,2023-11-30,12.0,151.13
6670762,801164206,80003,7000046261,3XNH A MED ROLOC BLEND,Abrasives,jbm,"Mccollum, Brian",130891,KIA VENDING,WEST POINT,GA,3432316,0,STK,2023-11-30,4.0,187.25

In [ ]:
#new_sales.to_excel('NovemberReport.xlsx')

**TESTING**

In [ ]:
df1 = pd.read_excel('first_test.xlsx')

In [ ]:
df2 = pd.read_excel('second_test.xlsx')

In [ ]:
df1

In [ ]:
df2

In [ ]:
x = df1.merge(df2, on=['Customer #', 'Product Number'], how='inner', suffixes=('', '_DROP')).filter(regex='^(?!.*_DROP)')

In [ ]:
x

In [ ]:
b = x.drop_duplicates()

In [ ]:
b